.DS_Store
.classpath
.project
.settings
.idea
*.iml
Gemfile*
bin/original-robot.jar
bin/owltools2.jar
bin/robot.jar
docs/_site/
examples/catalog-v001.xml
examples/out.owl
examples/results/
junk/
target/
