.DS_Store
.classpath
.project
.settings
.idea
*.iml
Gemfile*
bin/original-robot.jar
bin/owltools2.jar
bin/robot.jar
docs/_site/
docs/examples/catalog-v001.xml
docs/examples/out.owl
docs/examples/results/
junk/
target/
