<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %-5p %c - %m%n</pattern>
    </encoder>
  </appender>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
  <logger name="user" level="DEBUG"/>
  <logger name="org.semanticweb.elk" level="off"/>
  <logger name="org.obolibrary.obo2owl" level="off"/>
  <root level="ERROR">
    <appender-ref ref="console"/>
  </root>
</configuration>